<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=mid\sqlexpress;Initial Catalog=DB41;Persist Security Info=True;User ID=sa;Password=123456sql"
      providerName="System.Data.SqlClient" />
    <add name="DataCollect.Properties.Settings.TargetConn" connectionString="Data Source=10.72.50.11;Initial Catalog=DB_4;Persist Security Info=True;User ID=sa;Password=viva51f51238"
      providerName="System.Data.SqlClient" />
    <add name="DataCollect.Properties.Settings.DB_4ConnectionString"
      connectionString="Data Source=10.72.50.6;Initial Catalog=DB_4;User ID=sa;Password=viva51f51238"
      providerName="System.Data.SqlClient" />
    <add name="DataCollect.Properties.Settings.SourceConn" connectionString="Data Source=10.72.50.6;Initial Catalog=DB_4;User ID=sa;Password=viva51f51238;Connect Timeout=3000" />
  </connectionStrings>
</configuration>